body,
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 800px;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 15px;

}

tr:nth-child(even) {
  background-color: olivedrab;
}

tr:nth-child(odd) {
  background-color:wheat;
}

h1,
h2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.giannis,
.lebron {
  text-transform: uppercase;
}

.giannis {
  color:blueviolet;
}

.lebron {
  color:orangered;
}

.number-player {
  text-align: right;
}